@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&family=Space+Grotesk:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  --font-display: "Space Grotesk", sans-serif;
  
  --color-primary: #f27d26;
  --color-dark: #050505;
  --color-surface: #121212;

  --animate-spin-slow: spin 8s linear infinite;
}

@layer base {
  body {
    @apply bg-dark text-white font-sans antialiased;
  }
}

.glass {
  @apply bg-white/5 backdrop-blur-lg border border-white/10;
}

.text-gradient {
  @apply bg-clip-text text-transparent bg-linear-to-r from-primary to-orange-400;
}
